conf/patronImport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="patronRecords">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="record" type="patron" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element> 
    <xs:complexType name="patron">
       <xs:sequence>
           <xs:element name="patronType" type="xs:string" minOccurs="1" maxOccurs="1"/>
           <xs:element name="howDidYouHearAboutUs" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="primaryName" type="xs:string" minOccurs="1" maxOccurs="1"/>
           <xs:element name="restOfName" type="xs:string" minOccurs="1" maxOccurs="1"/>
           <xs:element name="prefix" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="suffix" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="institutionalAffiliation" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="department" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="patronNotes" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="email1" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="email2" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="inactive" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedDate1" type="xs:date" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedDate2" type="xs:date" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedBoolean1" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedBoolean2" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedInteger1" type="xs:integer" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedInteger2" type="xs:integer" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedReal1" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedReal2" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedString1" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedString2" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedString3" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedText1" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedText2" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedText3" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="userDefinedText4" type="xs:string" minOccurs="0" maxOccurs="1"/>
           <xs:element name="patronAddresses" type="patronAddresses" minOccurs="0" maxOccurs="unbounded"/>
           <xs:element name="patronPhoneNumbers" type="patronPhoneNumbers" minOccurs="0" maxOccurs="unbounded"/>
           <xs:element name="patronVisits" type="patronVisits" minOccurs="0" maxOccurs="unbounded"/>
           <xs:element name="patronFunding" type="patronFunding" minOccurs="0" maxOccurs="unbounded"/>
           <xs:element name="patronPublications" type="patronPublications" minOccurs="0" maxOccurs="unbounded"/>
           <xs:element name="patronForms" type="patronForms" minOccurs="0" maxOccurs="unbounded"/>
           <xs:element name="racPatronSubjects" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
           <xs:element name="racPatronTopics" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
       </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronAddresses">
        <xs:sequence>
            <xs:element name="addressType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="address1" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="address2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="address3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="city" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="region" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="country" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="mailCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="preferredAddress" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronPhoneNumbers">
        <xs:sequence>
            <xs:element name="phoneNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="phoneNumberType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="preferredPhoneNumber" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronVisits">
        <xs:sequence>
            <xs:element name="contactArchivist" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="topic" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="visitDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="visitType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="detailsOnResourcesUsed" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="userDefinedBoolean1" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="userDefinedString1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="userDefinedText1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="researchPurpose" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="patronVisitsSubjects" type="patronVisitsSubjects" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="patronVisitsNames" type="patronVisitsNames" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronVisitsSubjects">
        <xs:sequence>
            <xs:element name="subjectTerm" type="xs:string"  minOccurs="1" maxOccurs="1"/>
            <xs:element name="subjectTermType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="subjectSource" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronVisitsNames">
        <xs:sequence>
            <xs:element name="nameLinkRole" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nameLinkForm" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="name" type="nameComplexType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="nameComplexType">
        <xs:sequence>
            <xs:element name="nameType" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Person"/>
                        <xs:enumeration value="Family"/>
                        <xs:enumeration value="Corporate Body"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="number" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="qualifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nameSource" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nameRule" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="descriptionType" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Administrative History"/>
                        <xs:enumeration value="Biography"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="descriptionNote" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="citation" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="salutation" type="xs:string" minOccurs="0"/>
            <xs:element name="contactAddress1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactAddress2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactCity" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactRegion" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactCountry" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactMailCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactPhone" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactFax" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactEmail" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="familyName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="familyNamePrefix" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="corporatePrimaryName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="corporateSubordinate1" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="corporateSubordinate2" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="personalPrimaryName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="personalRestOfName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="personalPrefix" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="personalSuffix" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="personalDates" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="personalFullerForm" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="personalTitle" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="personalDirectOrder" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronFunding">
        <xs:sequence>
            <xs:element name="topic" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="awardDetails" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="fundingType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fundingDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronPublications">
        <xs:sequence>
            <xs:element name="publicationDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="publicationTitle" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="publicationType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="publisher" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="collaborators" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="publicationAuthor" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="serialTitle" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="locationOfPublication" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="issueVolume" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pageNumbers" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dateAccessed" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="copyReceived" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="other" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="patronPublicationsSubjects" type="patronPublicationsSubjects" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="patronPublicationsNames" type="patronPublicationsNames" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronPublicationsSubjects">
        <xs:sequence>
            <xs:element name="subjectTerm" type="xs:string"/>
            <xs:element name="subjectTermType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="subjectSource" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronPublicationsNames">
        <xs:sequence>
            <xs:element name="nameLinkRole" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nameLinkForm" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="name" type="nameComplexType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="patronForms">
        <xs:sequence>
            <xs:element name="dateCompleted" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="formType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="completed" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
